@font-face {
    font-family: Dancing Script;
    src: url(/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat-VariableFont_wght.ttf);
}

body,html {
    margin: 0;
    padding: 0;
    color:rgba(255, 255, 255, 0.888);
}

* {
    box-sizing: border-box;
}

body {
 background-image: url(italian\ food.jpg);
 background-attachment: fixed;
 background-size: cover;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}


.header {
    height: 18vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.restaurant-name {
    font-family: Dancing Script;
    font-size: 12ch;
    font-style: italic;
    color: rgba(255, 255, 255, 0.888);
    margin: 0 auto;
}

.option {
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 4rem;
    border: 1px solid rgba(192, 192, 192, 0.535);
}

.home-photo-container {
    height: 450px;
    width: 100%;
    margin-bottom: 4rem;
    overflow: hidden;
    
}

.home-photo {
    background-image: url(/src/young_nonna.jpeg);
    background-position: -300px 800px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.home-text {
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 1rem;
    text-align: center;
}